# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
__pycache__
env

# Build directories
build
buildDebug

# Run directories
runs/*
# Only ignore csv files in the run templates dirs
!runs/templates
runs/templates/**/*.csv

# Data directories
data/lorenz.csv

# VS code config
settings.json

# Plots
*.png